.nav-bar-container {
  width: 90%;
  margin: auto;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  margin: auto;
  position: fixed;
  top: 0;
  right: 2.5%;
  left: 2.5%;

  .logo-section {
    width: 50%;

    .logo {
      width: 100px;
      img,
      svg {
        width: 100%;
      }
    }
  }

  .buttons-section {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    width: 50%;

    button {
      background-color: #f0f3fd;
      background-color: rgba(0, 0, 0, 0.28);
      padding: 8px 12px;
      border: none;
      outline: none;
      text-align: center;
      border-radius: 20px;
      color: white;
      transition: all 0.3s ease-in-out;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 600;

      &:hover {
        background-color: #d1fae5;
        color: #047857;
      }
    }
  }
}

.mobile-menu {
  display: none;
}

@media (max-width: "790px") {
 

  .nav-bar-container {
    background-color: white;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    left: 0; 
  }

  .mobile-menu {
    font-weight: 900;
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: flex-end; 
    width: 50%;
  }

  .buttons-section {
    display: none !important;
  }

  .mobile-buttons { 
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        align-items: center;
        width: 50%;
    
        button {
          background-color: #f0f3fd;
          background-color: rgba(0, 0, 0, 0.28);
          padding: 8px 20px;
          border: none;
          outline: none;
          text-align: center;
          border-radius: 20px;
          color: white;
          transition: all 0.3s ease-in-out;
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 600;
    
          &:hover {
            background-color: #d1fae5;
            color: #047857;
          }
        }
      


    position: absolute;
    top: 55px;
    flex-direction: column;
    background-color: white;
    width: 100% !important;
    left: 0;
    right: 0;
    align-items: flex-end !important;
    padding: 10px;

    button {
      width: 100%;
      justify-content: center;
      //    background-color: transparent !important;
      //    color: #047857 !important;
    }
  }
}


.background-colored{
  background-color: white;
  position: fixed;
  right: 0;
  left: 0;
  height: 70px; 
  z-index: 2;




  
}


.hide-blur{
 &::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    height: 0%;
    background: none !important;
    z-index: 1;
    border-bottom-right-radius: 0%;
    filter: blur(20px);
}
}